In [1]:
from dotenv import load_dotenv
import os 

load_dotenv()

True

In [6]:
import googlemaps
import pandas as pd

In [3]:
my_key = os.getenv('GOOGLE_MAP_API_KEY')

In [7]:
maps = googlemaps.Client(key=my_key)

In [9]:
lat = []; lng = []

In [42]:
place_list = ["서울시립미술관", "동대문디자인플라자", "청계도서관", "롯데월드타워", "서울월드컵경기장"]

In [43]:
lat.clear(); lng.clear()

In [44]:
for i, place in enumerate(place_list):
  try:
    print(i, place)
    geo_location = maps.geocode(place)[0].get('geometry')
    lat.append(geo_location['location']['lat'])
    lng.append(geo_location['location']['lng'])
  except:
    lat.append(None)
    lng.append(None)

0 서울시립미술관
1 동대문디자인플라자
2 청계도서관
3 롯데월드타워
4 서울월드컵경기장

In [45]:
print(lat, lng)

[37.5640625, 37.5665256, None, None, 37.5682617] [126.9738125, 127.0092236, None, None, 126.8972735]

In [46]:
df = pd.DataFrame({'장소':place_list, '위도':lat, '경도':lng})

In [47]:
df

          장소         위도          경도
0    서울시립미술관  37.564062  126.973812
1  동대문디자인플라자  37.566526  127.009224
2      청계도서관        NaN         NaN
3     롯데월드타워        NaN         NaN
4   서울월드컵경기장  37.568262  126.897273